a{
    color: #3F4245;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
body{
    color: #6F7277;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15.5px;
}
button{
    background-color: #f8f9fA;
    border: 1px;
    border-color: #f8f9fA;
    border-radius: 5px;
    border-style: solid;
    color: #3F4245;
    width: 150px;
    height: 40px;
    font-size: 16px;
}
button:hover{
    border: 1px;
    border-color: #ebebeb;
    border-radius: 5px;
    border-style: solid;
    box-shadow: 0px 1px 1px #ebebeb;
}
input{
    border: 0;
    font-size: 16pt;
    width: 85%;
}
input:focus {
    outline: 0;
}
li{
    display: inline;
    padding: 10px;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.dashboard-image{
    border-color: white;
    border-radius: 50%;
    border-style: solid;
    border-width: 5px;
    width:35px;
    vertical-align:middle
}
.dashboard-image:hover{
    background-color: #ebebeb;
    border-color: #ebebeb;
    border-style: solid;
    border-width: 5px;
}
.footer-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1% 0 0 0;
    border-top-width: 1px;
    border-top-color: #dadbdf;
    border-top-style: solid;
}
.footer-navigation{
    background-color: #f2f2f2;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
}
.footer-navigation a{
    color: #6F7277
}
.footer-left{
    padding: 0 0 0 20%;
}
.footer-right{
    padding: 0 18% 0 0;
}
.footer-top{
    padding: 1% 0 1.5% 2%;
}
.header-navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 10px;
    width: 100%;
}
.navigation-left{
    padding: 1% 0 0 1%;
}
.navigation-right{
    padding: 0 1% 0 0;
    font-size: 14px;
}
.profile-image{
    border-radius: 50%;
    border-color: white;
    border-style: solid;
    border-width: 5px;
    width: 35px;
    vertical-align: middle;
}
.profile-image:hover{
    border-color: #ebebeb;
    border-style: solid;
    border-width: 5px;
}
.search-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;
    width: 320px;
    padding-top: 20px;
}
.search-function{
    padding: 80px 0 0 0;
    margin: auto;
    text-align: center;
    width: 55%;
}
.search-form{
    border: 1px solid #ebebeb;
    border-radius: 30px;
    display: flex;
    flex-direction: row;
    height: 20px;
    justify-content: space-between;
    line-height: 20px;
    margin: 15px;
    padding: 15px;
}
.search-icons{
    height: 22px;
    width: 22px;
    vertical-align: middle;
}
